body {
	background-color: rgba(0,0,0,.85);
	
}

#background {
	margin: auto;
	width: 1200px;
	height: 550px;
	background-image: url('../img/background.png');
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
}

#message {
	margin: auto;
	width: auto;
	height: 60px;
	color: white;
	text-align: center;
	font-size: 50px;
	position: absolute;
	top: 0; bottom: 225px; left: 0; right: 0;
	background-color: rgba(0,0,0,0.7);
}

#stats {/*
	border: 1px solid blue;*/
	width:1199px;
	height:100px;
	position:absolute;
	top:15px;
	/*background-color: rgba(0,0,0,0.5);*/
	color: white;
}
#playArea {
	width:1200px;
	height:300px;
	position:absolute;
	top: 200px;
}

/*stat display*/
h2, h4, div {
	position:absolute;
	margin:0;
	font-size: 25px;
}
#p1hp, #p2hp {
	height: 25px;
	width: 500px;
	background-color: rgba(255, 0, 0, 0.9);
	text-align: center;
}
#p1hpback, #p2hpback {
	background-color: rgba(0,0,0,0.7);
	height: 25px;
	width: 500px;
}
#p2hp, #p2hpback {
	left: 698px;
	/*transform: scaleX(-1);*/
}
#p1combo, #p2combo {
	top:30px;
	background-color: rgba(0,0,0,0.7);
	font-size: 40px;
}
#p1combo {
	left:5px;
}
#p2combo {
	left:1174px;
}
.block {
	height: 25px;
	width: 300px;
	top: 30px;
}
#p1block, #p2block {
	text-align: center;
	background-color: rgba(255, 255, 0, 0.7);
}
#p1blockback, #p2blockback {
	background-color: rgba(0,0,0,0.7);
}
#p1blockback, #p1block {
	left: 50px;
}
#p2blockback, #p2block {
	left: 850px;
}
#timer {
	left: 600px;
	background-color:rgba(0,0,0,0.7);
}
#stats div.badge {
	position:absolute;
	width:35px;
	height:35px;
	background-color:rgba(0,0,0,0.75);
	top: 80px;
}
#p1badge1 {
	left:5px;
}
#p1badge2 {
	left:55px;
}
#p2badge1 {
	left:1160px;
}
#p2badge2 {
	left:1110px;
}

/*character changes*/
#p1 .normal, #p2 .normal{
	width: 300px;
	height: 300px;
	/*top:550px;*/
	background-size:100%;
/*	border-radius:100px;*/
	position: absolute;
	z-index: 1;
}
#p1 .normal {
	left:0px;
}
#p2 .normal {
	left:900px;
	transform: scaleX(-1);
}
/*#p1.standard {
	background: url('../img/squirtle.png');
}*/
/*#p2.standard {
	background-image: url('../img/danbear.jpeg');
}*/
.evolve1, .evolve2 {
	width: 300px;
	position: relative;
	z-index: 1;
	opacity: 0.5;
	background-repeat: no-repeat;
	background-position: center;
}
.evolve1 {
	height: 400px;
	bottom: 90px;
	left: 0px;
}
.evolve2 {
	height: 500px;
	bottom: 160px;
	left: 0px;
}
#p1 .evolve1 {
	background-image: url('../img/wartortle.png');
}
#p1 .evolve2 {
	background-image: url('../img/blastoise.png');
}
/*#p2.evolve1 {
	background-image: url('../img/kedarbear.jpg');
}
#p2.evolve2 {
	background-image: url('../img/kedarbear.jpg');
}*/
#p1, #p2{
	width:0;
	height:0;
}
/*#p1shield, #p2shield {
	background-color: rgba(200,0,200,0.8);
	border-radius:150px;
	width:300px;
	height:300px;
}*/

.hidden {
	display:none;
}
